:root {
    --color-heading: #42446e;
    --color-text:#666666;
    --color-muted: #a7a7a7;
    --color-background: #ffffff;
    --color-badge-bg: #d7ffe0;
    --gradient: linear-gradient(90deg, #13b05f, #e70faa):
}